@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;

}

.title-text {
    font-size: 60px;
    font-weight: bold;
}

.carousel-item img {
    filter: brightness(50%);
}

.secondary-text {
    font-size: 20px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}




@media only screen and (max-width: 765px) {
    .title-text {
        font-size: 15px;
    }

    .secondary-text {
        font-size: 8px;
    }

    .title-button {
        font-size: 10px;
        padding: 5px !important;
    }


    .course-01 {
        flex-direction: column;
        align-items: center;


    }

    .course-details {
        text-align: justify;
        width: 50%;
    }

    .courses h1 {
        font-size: 20px;
    }

    .courses p {
        font-size: 10px;
    }

    .course-thumbnail img {
        width: 100% !important;

    }

}


@media only screen and (min-width: 766px) and (max-width: 992px) {
    .title-text {
        font-size: 30px;
    }

    .secondary-text {
        font-size: 15px;
    }

    .title-button {
        font-size: 10px;
        padding: 8px !important;
    }

}